{% extends 'base.html.twig' %}

{% block title %}Hello StackoverflowApiController!{% endblock %}

{% block body %}
{% include 'components/navbar.html.twig' %}
<div class="w-full flex justify-center items-center p-5">
    <div class="rounded m-4">
        {{ form_start(form, { 'attr': { 'onsubmit' : 'return doSubmit(event)','name':'stackoverflowform','class': 'form-glass' } }) }}
        {{ form_widget(form) }}
        <button type="submit" class="bg-blue-300 hover:bg-blue-400 p-2 rounded-lg w-full">submit</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
{% block javascript %}
    {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
    {{ encore_entry_script_tags('tags') }}

{% endblock %}